@{
    ViewBag.Title = "People";
}
@section Scripts {
    <script type="text/javascript" src="~/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-route/angular-route.min.js"></script>

    <environment names="Development">
        <script type="text/javascript" src="~/js/app.js"></script>
        <script type="text/javascript" src="~/js/peopleController.js"></script>
        <script type="text/javascript" src="~/js/basicControls.js"></script>
        <script type="text/javascript" src="~/js/personManageController.js"></script>
    </environment>

    <environment names="Production,Staging">
        <script type="text/javascript" src="~/lib/_app/app.js"></script>
        <script type="text/javascript" src="~/lib/_app/peopleController.js"></script>
        <script type="text/javascript" src="~/lib/_app/basicControls.js"></script>
        <script type="text/javascript" src="~/lib/_app/personManageController.js"></script>
    </environment>
}
<div ng-app="app">
    <div ng-view></div>
</div>
